/*CSS organised by visual order on pages*/

html {
  min-height: 100vh;
}

body {
  background-color: #f4f4f4;
  color: #1f1f1f;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-size: cover;
  min-height: 98vh;
}

.stylised {
  background-image: url("../images/appleStyleBG.webp"); /*src: applescoop.org/image/wallpapers/mac/baby-color-minimal-aesthetic-gradient-22-09-2024-1727068751-hd-wallpaper.webp */
  backdrop-filter: blur(10px);
}

.black-bg {
  background-color: #17222e;
  color: #f4f4f4;
}

.black-bg header {
  margin-top: 5px;
}

.black-bg a {
  color: #576a74;
}

#diff-bg {
  background-image: url("../images/otherbg.webp");
  backdrop-filter: blur(4px);
}

.page-header {
  padding-top: 1px;
  padding-bottom: 2px;
  position: center;
  text-align: center;
  color: #2c3e50;
  background-color: rgb(236, 236, 236, 40%);
  border-color: rgb(187, 187, 187, 40%); 
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
  line-height: 0.9em;
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0px;
  border-radius: 10px;
  background-color: #e0e0e0;
  width: 45%;
  min-width: 7.3em;
  max-width: 10em;
  text-align: center;
  font-size: 15;
  margin: 0.3rem 0.2rem;
}

nav a:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition:
    transform 0.2s;
}

main {
  line-height: 1.5;
}

embeds {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  place-content: center;
  margin-top: 13vh;
  margin-bottom: 5px;
  position: sticky;
}

iframe {
  width: 49%; 
  margin: 0.3rem 0.1rem;
  min-width: 300px;
  aspect-ratio: 16 / 9; 
  border-radius: 8px;
  margin-bottom: 20px;
}

#shift-down {
  margin-top: 5vh;
}

#shift-down nav a {
  margin: 1em auto;
  display: block;
  max-width: 36vw;
  min-width: 13em;
  height: 100%;
  background-color: rgb(224, 224, 224, 40%);
  font-size: 1.4em;
}

.always-centre {
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
}

button {
  display: inline-block;
  color: rgb(74, 158, 161, 80%);
  font-weight: bold;
  padding: 8px;
  border-radius: 25px;
  border: #ccc;
  background-color: rgb(224, 224, 224, 50%);
  width: 7.3em;
  font-size: 1.3rem;
  box-shadow: 0 1px 5px #000000;
}

button:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition:
    transform 0.2s;
}

img {
  max-width: 36em;
  width: 100%;
  height: auto;
  display: block;
}

.bordered {
  border-radius: 10px;
  box-shadow: 0 2px 5px #333333;
}

#earth-pic {
  border-radius: 50px;
  box-shadow: 0 2px 20px #333333;
  margin-top: 10px;
  max-width: auto;
  max-height: 90vh;
}

#web-icons {
  max-width: 15em;
}

table {
  border-collapse: collapse;
  max-width: 800px;
  width: 75%;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: auto;
  background-color:rgba(240, 248, 255, 40%);
}

th,
td {
  border: 1px solid rgb(204, 204, 204, 50%);
  padding: 5px;
  text-align: left;
}

th {
  background-color: rgb(234, 234, 234, 40%);
}

ul {
  margin-top: 1em;
}

footer {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #414141;
  border-top: 1px solid #ccc;
  margin-top: auto;
}


/*page size changes*/

@media (max-width: 753px) {
  main {
    margin-left: 2px;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .var-position img {
    margin: 13px auto;
  }
  .var-position p {
    text-align: center;
  }
  .stylised {
    min-height: 108vh;
  }
  #earth-pic {
    margin-top: 5px;
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 754px) {
  .var-position p {
    text-align: left;
  }
  .var-position img {
    margin-top: 15px;
  }
  main {
    margin: 15px 20px;
  }
  .page-header {
    position: sticky;
    margin: 0 auto;
    min-width: 47em;
    max-width: 47em;
  }
}

@media (max-aspect-ratio: 3 / 4) {
  embeds {
    display:inline-block;
  }
  iframe {
    width: 99%;
    min-width: none;
  }
}